fastapi
uvicorn[standard]
pydantic[email]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
SQLAlchemy
motor
pytest
httpx
python-socketio[asyncio]
python-socketio[asyncio_client]
python-engineio
websockets
redis
aioredis
fastapi-socketio
jinja2